.scroll {
    overflow-y: scroll;
}

.lone-menu {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.lone-menu i {
    background-color: #721011;
}

body {
    background-color: #eee;
}

a {
    color: #44c1ef;
}

a.btn {
    background-color: #44c1ef;
}

.flex {
    display: flex;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-right {
    justify-content: flex-end;
}

.side-margin {
    margin: 0px 25px;
}

.hidden {
    visibility: hidden;
}

.center-text {
    text-align: center !important;
}

h2 {
    margin: 0px;
}

.no-margin {
    margin: 0px;
}

p.flow-text > img.reactive-img {
    padding-top: 0.4em;
}

p.flow-text {
    text-align: justify;
}

nav.main-bar input.search_text {
    margin: 0px;
    padding-left: 0px;
}

nav.main-bar .input-field {
    display: flex;
    flex-direction: row-reverse;
    background-color: #721011;
}

nav div.nav-wrapper {
    background-color: #721011;
}

nav.main-bar i.square {
    padding-left: .5em;
    padding-right: .5em;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
    cursor: pointer;
}

nav.main-bar i.show-menu {
    text-align: right;
}

nav.main-bar.sink {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

nav.main-bar {
    z-index: 200;
}

@media screen and (max-width: 600px) {
    nav.main-bar i.square {
        padding-top: 0.5em;
    }

    i.icon-padding {
        padding-top: 0.5em;
    }
}

nav.main-bar i.active, nav.main-bar .input-field.active {
    color: black;
    background-color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: initial;
    transition-delay: initial;
}

nav.main-bar .title-wrapper {
    flex-grow: 2;
}

nav.main-bar .title-text {
    margin: 0px;
    padding-left: 1rem;
}

a.sidenav-menu-item {
    font-size: 1.5rem;
}

@media only screen and (min-resolution: 200dpi) {
    html {
        font-size: 25px;
    }

    a.sidenav-menu-item {
        font-size: 1.2rem;
        padding: 20px 0px 100px 20px;
    }

    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }

    i.material-icons {
        font-size: 1.5rem;
    }

    nav .input-field input {
        font-size: 1.7rem;
    }

    span.card-title {
        font-size: 1.3rem !important;
    }

    a.btn {
        padding: 0.7rem 2rem 2rem 2rem;
    }
}
