div.search-results {
    overflow: scroll;
    width: 100%;
    margin-left: 0px !important;
    display: flex;
    flex-wrap: wrap-reverse;
}

input.search_text {
    margin: 0px;
}

.search-container {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column-reverse;
}

.detailed-item {
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: blue;
    display: none;
}

.search-bar {
    z-index: 200;
}

.icon-padding {
    margin-left: 20px;
}
